// layouts
$maxContainerWidth: 75rem;

// colors
$mainColor: #3188ff;
$secondaryColor: #ffffff;
$mainHighlight: #ff6db0;
$backgroundColor: #ffffff;
$textColor: #1b262c;

// can get more granular
$containerBackgroundColor: $backgroundColor;
$navColor: $backgroundColor;
$navLabelsColor: $textColor;
$socialProofBackgroundColor: #ffffff;
$productBenefitsColor: $secondaryColor;
$ctaBackgroundColor: $backgroundColor;
$buttonColor: $mainColor;
