.footer {
  background-color: $textColor;
}

.footer-belt {
  display: flex;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  max-width: $maxContainerWidth;
  margin: 0 auto;
}

.company-sign {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  color: $backgroundColor;
}

.contact {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  color: $backgroundColor;
}

@include breakpoint("from-phone-md") {
  .company-sign {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    color: $backgroundColor;
  }

  .contact {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    color: $backgroundColor;
  }
}
